* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    background-color: #f2f2f2;
}

/***********************************************************************/

.top_bar {
    background-color: #333;
    display: flex;
    height: 5rem;
    align-items: center;
    padding-left: 5rem;
    padding-right: 5rem;
    justify-content: start;
}

.top_bar > * {
    height: 3.1rem;
    background-color: #454444;
    border-radius: 7px;
    display: flex;
    align-items: center;
}

/***********************************************************************/

.colors_container {
    width: 30rem;
    margin-right: 18rem;
    justify-content: space-evenly;
}

.color {
    height: 1.6rem;
    width: 3.9rem;
    border-radius: 5px;
}

.color:hover {
    border: 2px solid whitesmoke;
}

.pink {
    background-color: lightpink;
}

.blue {
    background-color: lightblue;
}

.green {
    background-color: lightgreen;
}

.black {
    background-color: black;
}

/***********************************************************************/

.add_cross_container {
    width: 12.5rem;
    margin-right: 5rem;
}

.lock_unlock_container {
    width: 10rem;
}

.add, .cross, .lock, .unlock {
    height: 100%;
    width: 50%;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tool {
    font-size: 2rem;
    font-weight: 500;
}

.active {
    background-color: rgb(167, 157, 157);
}

/***********************************************************************/

.task_creation_box {
    height: 19rem;
    width: 33rem;
    position: absolute;
    top: 10rem;
    left: calc(50vw - 16.5rem);
    border-radius: 0.6rem;
    box-shadow: 4px 4px 4px #ccc;
    display: flex;
}

/***********************************************************************/

.editing_box {
    background-color: white;
    height: 100%;
    width: 68%;
    padding: 1.8rem;
    border-radius: 0.6rem 0rem 0rem 0.6rem;
}

.text_box {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 1.7rem;
    font-family: m;
}

/***********************************************************************/

.colors_selection {
    background-color: #343131;
    height: 100%;
    width: 32%;
    border-radius: 0rem 0.6rem 0.6rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding-top : 7px;
    padding-bottom : 7px;
}

.color_box {
    height: 15%;
    width: 50%;
    border-radius: 5px;
}

.selected {
    border: 2px solid oldlace;
}

/***********************************************************************/

.ticket_box {
    height: 8.5rem;
    width: 12.5rem;
    background-color: white;
}

.filter {
    height: 10px;
}

.task_id {
    color:rgb(150, 144, 144);
    margin:0.7rem;
    margin-left: 0.5rem;
    margin-bottom: 0rem;
}

.ticket_task {
    height: calc(8.5rem - 10px);
}

.task_text {
    margin: 0.3rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    height: 4.8rem;
    border: none;
    outline: none;
    background-color: white;
    overflow-y: scroll;
    font-family:'Courier New';
    font-weight: 700;
}

.task_text::-webkit-scrollbar{
    display: none;
}

/***********************************************************************/

.rest_stage {
    margin: 5rem;
    margin-left: 6rem;
    margin-right: 6rem;
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 3rem;
    row-gap: 4rem;
    column-gap: 2rem;
}